<html>

<head>
  <title>My super quiz!</title>
</head>

<body>
  <center>
    <h1>
      Quizz for {{session['username']}}!
    </h1>
  </center>
  <h2>
    {{ quiz.name }}
  </h2>
  <h3>Correct answers: {{session['ca']}}</h3>
  {% if n > 0 %}
  {% if correct %}
  <center>
    <font size="36" color="green">Correct</font>
  </center>
  {% endif %}
  {% if not correct %}
  <center>
    <font size="36" color="red">Incorrect</font>
  </center>
  {% endif %}
  {% endif %}

  <h3>
    {{ question.text }}
  </h3>

  <h4>
    Answers:
  </h4>
  <ol>
    {% for answer in question.answers %}
    <li><a href="/?n={{n}}&answer_id={{answer.id}}">{{answer.text}}</li>
    {% endfor %}
  </ol>
  <br />
  <a href="/restart">Restart</a><br />
  <a href="/logout">Log out</a><br />
</body>

</html>